
/* Start the contact page */

body{
  width:960px;
  background-color:rgba(128,128,128,0.22);
}

#name {
  padding: 20px 20px 20px 20px;
  display: inline-block;
  font-size: 24px;
  color: white;
  background: blue;
  border: 4px solid blue;
  float:left;
  width:300px;
  text-align: center;
}

#btn-group {
  padding: 20px 20px 20px 20px;
  display: inline-block;
  font-size: 24px;
  color: white;
  background: grey;
  border: 4px solid blue;
  width:300px;
  float:right;
  text-align: center;
} 

#connect-box{
  display:block;
  width:348px;
  height:125px;
  float:right;
  padding:10px 0px 10px 0px;
  background-color: yellow;
  margin-top: 10px;
  text-align:center;
  position:relative;
}  

#data-entry{
  width: 550px;
  height:500px;
  overflow: auto;
  background-color: orange;
  margin-top: 10px;
  float:left;
}

.main{
  width:960px;
  overflow: auto;
  background-color: rgb(128,128,128,0.22);
}

h2{
  font-size: 16px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  text-align: center;
  display:block;
  position:relative;
  left:25px;
  top:10px;
  width:295px;
  height: 20px;
  float:left;
  margin:4px;
  font-weight: bold;
}

form {
  background: white;
  margin: auto;
  position: relative;
  float:left;
  width: 450px;
  height: 300px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid grey;
  border: inset 1px solid blue;
  position:relative;
  left:25px;
  top:15px;
  
  color: #09C;
  line-height: 24px;
}

input {
  width: 365px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  text-align: left
}

#submit{
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
  text-align: center;
}

input.button:hover {
  background: #fff;
  color: #09C;
}