
/* Start the contact page */

.container{
  width:960px;
}

body{
  width:960px;
  background-color:rgba(128,128,128,0.22);
}

#name {
  padding: 20px 20px 20px 20px;
  display: inline-block;
  font-size: 24px;
  color: white;
  background: blue;
  border: 4px solid blue;
  float:left;
  width:300px;
  text-align: center;
}

#btn-group {
  padding: 20px 20px 20px 20px;
  display: inline-block;
  font-size: 24px;
  color: white;
  background: grey;
  border: 4px solid blue;
  width:300px;
  float:right;
  text-align: center;
} 

#connect-box{
  width:348px;
  height:125px;
  float:right;
  padding:10px 0px 10px 0px;
  background-color: yellow;
  margin-top: 10px;
  text-align:center;
  display: inline-block;
}

.connect-title{
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

h2{
  font-size: 16px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  text-align: center;
  position:relative;
  left:25px;
  top:10px;
  width:295px;
  height: 20px;
/*  float:left;*/
  margin-bottom: 16px;
  font-weight: bold;
}

/*h3{
  font-size: 16px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  text-align: center;
  display:block;
  float:left;
  width:150px;
  height:20px;
  margin: 4px;
  display:inline-block;
}*/

.main{
  width:960px;
  overflow: auto;
  background-color: rgb(128,128,128,0.22);
}

.flag{
  margin-top:12px;
  float:left;
  margin-top:6px;
  display: block;
} 

.sailboat{
  height:auto;
  float:left;
  margin:6px;
} 

.charleston{
  width:auto;
  height:auto;
  margin:6px;
  float:left;
} 

#portfolio{
  width: 550px;
  height:auto;
  overflow:auto;
  height:900px;
  background-color: orange;
  margin-top: 10px;
  display: inline-block;
}

#flag, #sailboat, #charleston{
  width:350px;
  height:auto;
  border:4px solid grey;
}

#p01{
  width:350px;
  height:50px;
  font-size: 12px;
  background-color: white;
  padding:4px 4px 4px 4px;
  border:4px solid grey;
  text-align: left;
}

@media (max-width: 768px){
.flag{
  margin-top:12px;
  float:left;
  margin-top:6px;
  display: block;
} 

.sailboat{
  height:auto;
  float:left;
  margin:6px;
} 

.charleston{
  width:auto;
  height:auto;
  margin:6px;
  float:left;
} 

#portfolio{
  width: 550px;
  overflow:auto;
  background-color: orange;
  margin-top: 10px;
  display: block;
}

#flag, #sailboat, #charleston{
  width:200px;
  height:auto;
  border:4px solid grey;
}

#p01{
  width:192px;
  height:50px;
  font-size: 12px;
  background-color: white;
  padding:4px 4px 4px 4px;
  border:4px solid grey;
  text-align: left;
}
  #connect-box{float:none;
    width:550px;}
}

  /*0 to 640*/

@media (max-width: 640px){
  #btn-group{float:none; display: block;}
  #connect-box{float:none; width:348px;}
  #portfolio{display:block; width:348px;}
  .flag, .sailboat, .charleston{float:left; margin:0px;}
}